body {
    font-family: poppins, sans-serif;
    margin: 0;
}
.container {
    display: flex;
    background-color: #7466ca; 
}
.navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    flex-grow: 1;
}
.flex-item-link {
    padding: 10px;
}
.flex-item-link a {
    text-decoration: none;
    font-size: 16px;
    color: white; 
}
.search-items {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 20px;
}
.search-items input {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid white;
    height: 30px;
    color: #CCCCCC;
    font-family: poppins, sans-serif;
}
.search-items input::placeholder {
    color: #877dc4;
}
.btn-go {
    margin-left: 4px;
    border-radius: 15px;
    border: 1px solid white;
    height: 30px;
    color: #6A5ACD;
    cursor: pointer;
    background-color: #ffffff; 
    font-family: poppins, sans-serif;
    text-align: center;
    line-height: 30px;
}
